{% extends "layout.njk" %}
{% block head %}
    <title>{{item.title}}
        - Rian Tavares</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <div id="videos">
        <hgroup>
            <h1>{{item.title}}</h1>
        </hgroup>

        <section class="video">

            <div class="card" id="{{item.id}}">
                <div class="card__video-container">
                    <iframe src="https://www.youtube.com/embed/{{item.id}}"></iframe>
                </div>
                <div class="card__content">
                    <p>{{item.title}}</p>
                </div>
                <div class="card__info">
                    <p>{{item.duration}}</p>
                    <p class="card__price">{{item.price}}</p>
                </div>
            </div>

        {% endblock %}