<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>Gym</title>
    {% endblock %}
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <header class="header">
      <nav class="links">
        <a href="/instructors" class="active">Instructors</a>
        <a href="/members">Members</a>
      </nav>
    </header>

    {% block content %} {% endblock %}
  </body>
</html>
